.link {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    color: #8585AD;
}

.text {
    margin-left: 8px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    padding-top: 2px;
}

.active {
    color: #F2F2F3;
}