.title {
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.form div:first-child {
    min-width: 480px;
}

.errorText {
    color: #E52B1A;
}

.error div:first-child {
    border: 2px solid #E52B1A;
}

.hide {
    display: none;
}