.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderId {
    margin-top: 16px;
}

.orderName {
    margin-top: 32px;
    text-align: center;
}

.doneImage {
    margin-top: 60px;
}

.start–°ookText {
    margin-top: 60px;
}

.waitText {
    margin-top: 8px;
    margin-bottom: 80px;
}