.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderNumber {
    margin-top: 16px;
}

.orderId {
    margin-top: 32px;
}

.doneImage {
    margin-top: 60px;
}

.startСookText {
    margin-top: 60px;
}

.waitText {
    margin-top: 8px;
    margin-bottom: 80px;
}