.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.errorIcon {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}