.root {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.links {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    width: 320px;
    margin-top: 120px;
}

.link {
    padding: 16px 0;
}

.active {
    color: #F2F2F3;
}

.routes {
    display: flex;
}

.hint {
    margin-top: 80px;
    opacity: 0.4;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.fields div:first-child {
    min-width: 480px;
}